.home-navbar {
  // logo
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 0.68rem;
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    img {
      width: 28px;
      height: 29.8px;
    }
    span {
      color: #fff;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.6px;
    }
  }
  //   navigation menu
  .nav-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    li a {
      color: $white-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.32px;
      opacity: 0.9;
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 0.6;
        text-decoration: underline;
      }
    }
  }
// Menu for mobile
.mobile-menu {
  .slide-nav {
    padding: 1.2rem 2rem;
    position: absolute;
    top: 110%;
    left: -120%;
    width: 100%;
    z-index: 99;
    transition: all 300ms ease-in-out;
    

    .nav-wrapper {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 0.78rem;
      margin-bottom: 1.2rem;
  
      li a {
        color: black;
      }
    }

    .header-search {
      .form-group {
        input {
          color: black;
        }
        span {
          color: black;
        }
      }
      .quote-btn {
        &:hover {
          background: $primary-color;
          opacity: 0.87;
          color: black;
        }
      }
    }

  }
}
  // Search area
  .header-search {
    .form-group {
      input {
        color: $white-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.28px;
        background: transparent;
        border: none;
        outline: none;
        padding-left: 2.2rem;
        width: 84px;
      }
      span {
        width: 20px;
        height: 20px;
        left: 0;
      }
    }
    // quote btn
    .quote-btn {
      color: $body-color;
      display: inline-flex;
      padding: 16px 23px;
      justify-content: center;
      align-items: center;
      background: $primary-color;
      border: 1px solid transparent;
      transition: all 300ms ease-in-out;

      &:hover {
        background-color: transparent;
        border: 1px solid rgba($white-color, 0.2);
        color: $white-color;
      }

      a {
        color: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.32px;
      }
    }
  }

  // Header bar
  .header-bar {
    font-size: 1.78rem;
    color: $white-color;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &__open {
        display: block;
    }
    &__close {
        @extend .header-bar;
        display: none;
    }
  }
}


