.sub-title {
    color: $white-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 1.625rem;

    li {
      list-style: disc;
    }
  }
  .content-title {
    color: $white-color;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1.2px;
    margin-bottom: 3.125rem;
  }