* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
button, input {
    border: none;
    outline: none;
    background-color: transparent;
}
p {
    margin: 0;
    color: $white-color;
    opacity: 0.7;
}
img {
    width: 100%;
    max-width: 100%;
}