// Google font - Manrope and Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: $font-manrope;
}
p {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}